@page
@model IndexModel
@using System.Text.Json
@using System.Globalization
@using Microsoft.Extensions.Caching.Memory
@using Metalama.Patterns.Caching.Aspects
@inject IMemoryCache MemoryCache
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @{
        ///* STEP 1:
        var data = await Model.GetCryptocurrencyDataCastle();
        //*/

        /* STEP 2:
        var data = 
            await Cache.GetOrCreateAsync(
                "cryptoData", 
                async e => 
                {
                    return await Model.GetCryptocurrencyData();
                });
         */

        /* STEP 3:
        var data =
            await MemoryCache.GetOrCreateAsync(
                "cryptoData", 
                async entry => 
                {
                    entry.SetAbsoluteExpiration(TimeSpan.FromSeconds(30));
                    return await Model.GetCryptocurrencyData();
                });
        */

        foreach(var crypto in data!)
        {
            // Output a paragraph with symbol and rate.
            @:<p>@crypto.Symbol}: @crypto.Rate.ToString("F3", CultureInfo.InvariantCulture)</p>
        }
    }
</div>