@page
@using System.Globalization
@model WithMemoryCacheAndExpirationModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @{
        foreach (var currency in Model.Currencies)
        {
            var data = await Model.GetCurrencyData( currency );

            // Output a paragraph with symbol and rate.
            @:<p>@( data.Symbol )(@data.Type): @data.RateUsd.ToString( "F3", CultureInfo.InvariantCulture )</p>
        }
    }
</div>